// flex helpers

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.full {
  flex: 1;
}

// view helpers

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.grid {
  display: grid;
}

.overflow {
  overflow: auto;
}

.bold {
  font-weight: 800;
}