.countries-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: $clr1;
    margin-bottom: 40px
}

@include for-mobile-layout {
    .countries-container {
        flex-direction: column;
        align-items: center;
    }
}